<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Let's Go Pokedex</title>
	<link rel="icon" href="https://img.gamewith.net/article_tools/pokemon-lets-go/gacha/981.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='basic_home_page.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='info_page.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='webfontkit-20220203-225755/stylesheet.css') }}" type="text/css" charset="utf-8" />
</head>
<body>
	<div class="topnav">
		<a href="{{ url_for('basic_home') }}">Home</a>
		<a href="{{ url_for('about_data') }}" >About the Data</a>
		<a href="{{ url_for('general_info') }}" class="active">General Information</a>
	</div>
	<div class="body">
		<h1 class = "heading">General Pokémon Information</h1>
		<h3 class = "heading">What are Pokémon?</h3>
		<p class = "text_block">Pokémon are creatures of all shapes 
                                and sizes who live in the wild or alongside 
                                their human partners (called “Trainers”). 
                                During their adventures, Pokémon grow and become 
                                more experienced and even, on occasion, evolve into stronger Pokémon. 
                                Hundreds of known Pokémon inhabit the Pokémon universe, with untold numbers 
                                waiting to be discovered! There are currently 905 Pokémon in the National Pokedex.
        </p>
		<h3 class = "heading">How many Pokémon types are there?</h3>
		<p class = "text_block">According to Bulbapedia there are 18 Unique Pokémon types. 
                                Types are properties applied to Pokémon and their moves, 
                                which affect the power of moves in battles. As of Generation VI, 
                                there are 18 types, as listed to the right. Most of these were 
                                introduced during Generation I, but the Dark and Steel types were 
                                introduced in Generation II, and the Fairy type was introduced in Generation VI. 
                                A unique '???' type also existed from Generations II through IV. 
                                During Generation I, types were occasionally referred to as elements. 
                                The types are based on the concept of classical elements in popular culture.
        </p>
        <p class = "text_block">Pokémon Types</p>
        <ul class = "list">
            <li>Fire <img class = "emblem" src = "static/fire.png" alt = "Fire Type Emblem"></li>
            <li>Water <img class = "emblem" src = "static/water.png" alt = "Water Type Emblem"></li>
            <li>Ground <img class = "emblem" src = "static/ground.png" alt = "Ground Type Emblem"></li>
            <li>Grass <img class = "emblem" src = "static/grass.png" alt = "Grass Type Emblem"></li>
            <li>Electric <img class = "emblem" src = "static/electric.png" alt = "Electric Type Emblem"></li>
            <li>Steel <img class = "emblem" src = "static/steel.png" alt = "Steel Type Emblem"></li>
            <li>Fairy <img class = "emblem" src = "static/fairy.png" alt = "Fairy Type Emblem"></li>
            <li>Dragon <img class = "emblem" src = "static/dragon.png" alt = "Dragon Type Emblem"></li>
            <li>Flying <img class = "emblem" src = "static/flying.png" alt = "Flying Type Emblem"></li>
            <li>Fighting <img class = "emblem" src = "static/fighting.png" alt = "Fighting Type Emblem"></li>
            <li>Ghost <img class = "emblem" src = "static/ghost.png" alt = "Ghost Type Emblem"></li>
            <li>Posion <img class = "emblem" src = "static/poison.png" alt = "Posion Type Emblem"></li>
            <li>Psychic <img class = "emblem" src = "static/psychic.png" alt = "Psychic Type Emblem"></li>
            <li>Ice <img class = "emblem" src = "static/ice.png" alt = "Ice Type Emblem"></li>
            <li>Normal <img class = "emblem" src = "static/normal.png" alt = "Normal Type Emblem"></li>
            <li>Bug <img class = "emblem" src = "static/bug.png" alt = "Bug Type Emblem"></li>
            <li>Rock <img class = "emblem" src = "static/rock.png" alt = "Rock Type Emblem"></li>
        </ul>        
        <p class = "text_block"> Certain Pokémon types cause more damage to other Pokémon types. 
                                 For example Fire type Pokémon are weak agains water type Pokémon.
                                 This is refered to as type effectiveness and is a parameter on our Pokedex.
        </p>
        <h3 class = "heading">What parameters can be searched with this tool?</h3> 
        <p class = "text_block">In addition to type effectiveness mentioned above there are a variety of 
                                categorical and quantitative variables that can be used to filter the 890 
                                Pokémon within our tool.</p>
      
        <p class = "text_block">List of Categorical Attributes</p>
        <ul class = "list">
            <li><strong>Type:</strong> Types refer to different elemental properties associated with the Pokémon, their eggs and their moves. With primary being the main type and secondary being an additional type.</li>
            <li><strong>Generation:</strong> Generation refers to the Pokémon game series, there are currently 8 generations.</li>
            <li><strong>Species:</strong> A brief descriptor for Pokémon found in the Pokédex that may be shared by different Pokémon.</li>
            <li><strong>Abilities:</strong> An Ability is a game mechanic introduced in Generation III that provides a passive effect in battle or in the overworld. A pokemon can have up to 2 abilities and one hidden ability.</li>
            <li><strong>Growth Rate:</strong> The amount of experience a pokemon needs to level up is determined by its growth rate group.</li>
        </ul>
        <p class = "text_block">List of Base Stats Attributes</p>
        <ul class = "list">
          <li><strong>Attack:</strong> A stat which determines the power of a physical move.</li>
          <li><strong>Defense:</strong> A stat which partly determines how much damage a Pokémon receives when it is hit with a physical move.</li>
          <li><strong>Special Attack:</strong> A stat which partly determines the how much damage a Pokemon deals on a special move.</li>
          <li><strong>Special Defense:</strong> A stat partly determines how much damage a Pokémon receives when it is hit with a special move.</li>
          <li><strong>HP:</strong> The HP short for Hit Point determines how much damage a Pokémon can receive before fainting.</li>
          <li><strong>Speed:</strong> The Speed stat determines the order of Pokémon that can act in battle.</li>
        </ul>
        <p class = "text_block">List of Quantitative Attributes</p>
        <ul class = "list">
          <li><strong>Height:</strong> How tall the pokemon is in meters.</li>
          <li><strong>Weight:</strong> The weight of the Pokemon in kilograms.</li>
          <li><strong>Catch Rate:</strong> When a Poké Ball is thrown at a wild Pokémon, the game uses that Pokémon's catch rate in a formula <br>to determine the chances of catching that Pokémon.</li>
          <li><strong>Experience:</strong> The amount of experience an individual Pokémon has is an indication of how much it has battled.</li>
          <li><strong>Base Friendship:</strong> The value to which its friendship is set when the Pokémon is caught, received from an event or NPC,<br> or received from a trade with another player.</li>
          <li><strong>Percentage Male:</strong> The percentage of male Pokemon in a species.</li>
        </ul>
        <h3 class = "heading">5 Strongest Pokemon</h3>
        <p class = "ranking">5. Kyurem</p>
        <img class = "strong" src = "static/all_pokemon_images/646Kyurem.png">
        <p class = "ranking">4. Zygarde</p>
        <img class = "strong" src = "static/all_pokemon_images/718Zygarde.png">
        <p class = "ranking">3. Zacian</p>
        <img class = "strong" src = "static/all_pokemon_images/888Zacian.png">
        <p class = "ranking">2. Zamazenta</p>
        <img class = "strong" src = "static/all_pokemon_images/889Zamazenta.png">
        <p class = "ranking">1. Arceus</p>
        <img class = "strong" src = "static/all_pokemon_images/493Arceus.png">
		<h4 class = "data_link"> More Pokémon Information:</h4>

		<div class = "data_link">
		    <a href="https://bulbapedia.bulbagarden.net/wiki/Main_Page" target="_blank">Visit the Bulbapedia for more Information</a>
	    </div>
	</div>
</body>
</html>